body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.lam-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    margin: auto;
    width: auto;
}

.bigger-container {
    display: flex;
    flex-direction: column;
}


.ngan-test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: auto;
    width: auto;
}

.jumbotron {
    background-color: #eee;
    margin: auto;
}

.footer-style {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    /* text-align: center; */
    justify-content: space-around;
    flex-direction: row;
  }
