**/**__pycache__
**/**.cache/*
**/**.bash_history
TopTierByCity.csv
MidTierByCity.csv
BottomTierByCity.csv
OneBedByCity.csv
TwoBedByCity.csv
ThreeBedByCity.csv
FourBedByCity.csv
FiveBedByCity.csv
toptieroutput
midtieroutput
bottomtieroutput
onebedoutput
twobedoutput
threebedoutput
fourbedoutput
fivebedoutput
credentials.py
**/**myconfig.ini