{% load static %}

<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <title>{{city}}, {{state}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'my_app/showResult.css' %}">
    </head>

    <body>
        <p class="container">The average price of single-family house is {{price}} in {{date}}.</p>
        <div>
            <img src="data:image/png;base64,{{graphic|safe}}">
        </div>
    </body>

    <footer>
            data courtesy of Zillow.com
    </footer>
</html>
