<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>WELCOME TO HOME PAGE</h1>
                
                <a href="{% url 'myapp:form_name' %}">Please follow this link enter your information.</a>
                <!-- go to urls.py
                you will see app_name = 'myapp'
                combine app_name with a view to point to that view -->
            </div>

        </div>
    </body>
</html>