body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
}

.container-fluid {
    padding: 1em;
}

.jumbotron {
    background-color: #eee;
}
